<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit rabbit</title>
  </head>
  <body>
    <% if(typeof(errors) != 'undefined' ) { %>
      <% for (var x in errors) { %>
        <p><%= errors[x].message %></p>
      <% } %>
    <% } %>
    <form action="/mongooses/<%=rabbit.id%>" method="post">
      name: <input type="text" name="name" value="<%=rabbit.name%>"><br>
      babies: <input type="text" name="babies" value="<%=rabbit.babies%>"><br>
      size of owl: <input type="text" name="size" value="<%=rabbit.size%>"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
